body {
    background-color: #12343B;
    font: arial;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header > h1 {
    text-align: center;
    padding: 35px;
    padding-bottom: 15px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px #E1B382;
}
.nav_bar {
    background-color: #C89666;
    overflow: hidden;
    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
}
.nav_bar > a {
    display: inline-block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}
.nav_bar > a:hover {
    background-color: #2D545E;
}
.homepage {
    background-image: url("images/home_page_bg.jpeg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #12343B; 
    padding: 2%;
}
.homepage_text {
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    color: #E1B382;
    text-shadow: 2px 2px #12343B;
    font-size: 20px;
}
.homepage_text > h1 {
    color: white;
    font-size: 60px;
    text-shadow: 5px 5px #12343B;
}
.homepage_text > a {
    align-items: center;
    background-color: #2D545E;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.homepage_text > a:hover {
    background-color: #C89666;
    text-decoration: none;
}
.me {
    background-color: white;
    margin: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.my_interests {
    background-color: white;
    margin: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.life_journey_header {
    text-align: center;
    color: white;
    text-shadow: 2px 2px #C89666;
    font-size: 40px;
}
.life_journey {
    background-color: #C89666;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.life_journey > h3 {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #12343B;
    margin-bottom: 2px;
}
.life_journey > h5 {
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px #12343B;
    margin-top: 0;
}
.life_journey > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.life_journey > p {
    font-size: 18px;
    color: #12343B;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.25;
}
.my_projects {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 25px;
}
.my_projects_header {
    text-align: center;
}
.about_me_header {
    background-color: #2D545E;
    margin: 25px;
    border: 5px outset white;
}
.about_me_header > img {
    float: left;
    border-radius: 50%;
    margin: 25px;
}
.about_me_header_words {
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
.about_me_header_words > h1 {
    text-shadow: 2px 2px #E1B382;
    font-size: 40px;
}
.about_me_header_words > p {
    line-height: 1.5;
}
.skill_list {
    float: left;
    margin: 25px;
    background-color: #C89666;
    color: white;
    height: 400px;
    width: 300px;
    border: 5px outset white;
}
.skill_list > h3 {
    text-align: center;
    color: #12343B;
    font-size: 20px;
    text-shadow: 1px 1px white;
}
.skill_list > ul {
    line-height: 2;
    list-style-type: square;
    text-shadow: 2px 2px #12343B;
}